<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CheliangxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Cheliangxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="chepaihao" jdbcType="VARCHAR" property="chepaihao" />    <result column="pinpaixinghao" jdbcType="VARCHAR" property="pinpaixinghao" />    <result column="shoucishangpaishijian" jdbcType="VARCHAR" property="shoucishangpaishijian" />    <result column="zhaopian" jdbcType="VARCHAR" property="zhaopian" />    <result column="keyuyueshiduan" jdbcType="VARCHAR" property="keyuyueshiduan" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, chepaihao,pinpaixinghao,shoucishangpaishijian,zhaopian,keyuyueshiduan, addtime
  </sql>
  <select id="quchongCheliangxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from cheliangxinxi 
    where chepaihao = #{chepaihao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from cheliangxinxi  where 1=1
    <if test="chepaihao!=null">and chepaihao like  concat('%',#{chepaihao,jdbcType=VARCHAR},'%')</if>     <if test="pinpaixinghao!=null">and pinpaixinghao like  concat('%',#{pinpaixinghao,jdbcType=VARCHAR},'%')</if>     <if test="shoucishangpaishijian1!=null">and shoucishangpaishijian &gt;=  concat('',#{shoucishangpaishijian1,jdbcType=VARCHAR},'')</if>     <if test="shoucishangpaishijian2!=null">and shoucishangpaishijian &lt;=  concat('',#{shoucishangpaishijian2,jdbcType=VARCHAR},'')</if>     <if test="zhaopian!=null">and zhaopian like  concat('%',#{zhaopian,jdbcType=VARCHAR},'%')</if>     <if test="keyuyueshiduan!=null">and keyuyueshiduan like  concat('%',#{keyuyueshiduan,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from cheliangxinxi  where 1=1
    <if test="chepaihao!=null">
    and chepaihao =#{chepaihao}
    </if>
  </select>
  
  <select id="getsycheliangxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from cheliangxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsycheliangxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from cheliangxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsycheliangxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from cheliangxinxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from cheliangxinxi where 1=1 
     <if test="chepaihao!=null">and chepaihao like  concat('%',#{chepaihao,jdbcType=VARCHAR},'%')</if>     <if test="pinpaixinghao!=null">and pinpaixinghao like  concat('%',#{pinpaixinghao,jdbcType=VARCHAR},'%')</if>     <if test="shoucishangpaishijian1!=null">and shoucishangpaishijian &gt;=  concat('',#{shoucishangpaishijian1,jdbcType=VARCHAR},'')</if>     <if test="shoucishangpaishijian2!=null">and shoucishangpaishijian &lt;=  concat('',#{shoucishangpaishijian2,jdbcType=VARCHAR},'')</if>     <if test="zhaopian!=null">and zhaopian like  concat('%',#{zhaopian,jdbcType=VARCHAR},'%')</if>     <if test="keyuyueshiduan!=null">and keyuyueshiduan like  concat('%',#{keyuyueshiduan,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cheliangxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cheliangxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Cheliangxinxi">
    insert into cheliangxinxi (id, chepaihao,pinpaixinghao,shoucishangpaishijian,zhaopian,keyuyueshiduan, addtime)
    values (#{id,jdbcType=INTEGER}, #{chepaihao,jdbcType=VARCHAR},#{pinpaixinghao,jdbcType=VARCHAR},#{shoucishangpaishijian,jdbcType=VARCHAR},#{zhaopian,jdbcType=VARCHAR},#{keyuyueshiduan,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Cheliangxinxi">
    insert into cheliangxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="chepaihao != null"> chepaihao, </if>      <if test="pinpaixinghao != null"> pinpaixinghao, </if>      <if test="shoucishangpaishijian != null"> shoucishangpaishijian, </if>      <if test="zhaopian != null"> zhaopian, </if>      <if test="keyuyueshiduan != null"> keyuyueshiduan, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="chepaihao != null"> #{chepaihao,jdbcType=VARCHAR},</if>      <if test="pinpaixinghao != null"> #{pinpaixinghao,jdbcType=VARCHAR},</if>      <if test="shoucishangpaishijian != null"> #{shoucishangpaishijian,jdbcType=VARCHAR},</if>      <if test="zhaopian != null"> #{zhaopian,jdbcType=VARCHAR},</if>      <if test="keyuyueshiduan != null"> #{keyuyueshiduan,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Cheliangxinxi">
    update cheliangxinxi
    <set>
	  <if test="chepaihao != null"> chepaihao = #{chepaihao,jdbcType=VARCHAR},</if>      <if test="pinpaixinghao != null"> pinpaixinghao = #{pinpaixinghao,jdbcType=VARCHAR},</if>      <if test="shoucishangpaishijian != null"> shoucishangpaishijian = #{shoucishangpaishijian,jdbcType=VARCHAR},</if>      <if test="zhaopian != null"> zhaopian = #{zhaopian,jdbcType=VARCHAR},</if>      <if test="keyuyueshiduan != null"> keyuyueshiduan = #{keyuyueshiduan,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Cheliangxinxi">
    update cheliangxinxi
    set chepaihao = #{chepaihao,jdbcType=VARCHAR},pinpaixinghao = #{pinpaixinghao,jdbcType=VARCHAR},shoucishangpaishijian = #{shoucishangpaishijian,jdbcType=VARCHAR},zhaopian = #{zhaopian,jdbcType=VARCHAR},keyuyueshiduan = #{keyuyueshiduan,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
