<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.JiaolianxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Jiaolianxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="gonghao" jdbcType="VARCHAR" property="gonghao" />    <result column="mima" jdbcType="VARCHAR" property="mima" />    <result column="jiaolianxingming" jdbcType="VARCHAR" property="jiaolianxingming" />    <result column="xingbie" jdbcType="VARCHAR" property="xingbie" />    <result column="zhaopian" jdbcType="VARCHAR" property="zhaopian" />    <result column="chushengriqi" jdbcType="VARCHAR" property="chushengriqi" />    <result column="jiaoling" jdbcType="VARCHAR" property="jiaoling" />    <result column="jianjie" jdbcType="VARCHAR" property="jianjie" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gonghao,mima,jiaolianxingming,xingbie,zhaopian,chushengriqi,jiaoling,jianjie, addtime
  </sql>
  <select id="quchongJiaolianxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from jiaolianxinxi 
    where gonghao = #{gonghao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from jiaolianxinxi  where 1=1
    <if test="gonghao!=null">and gonghao like  concat('%',#{gonghao,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="jiaolianxingming!=null">and jiaolianxingming like  concat('%',#{jiaolianxingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="zhaopian!=null">and zhaopian like  concat('%',#{zhaopian,jdbcType=VARCHAR},'%')</if>     <if test="chushengriqi1!=null">and chushengriqi &gt;=  concat('',#{chushengriqi1,jdbcType=VARCHAR},'')</if>     <if test="chushengriqi2!=null">and chushengriqi &lt;=  concat('',#{chushengriqi2,jdbcType=VARCHAR},'')</if>     <if test="jiaoling!=null">and jiaoling like  concat('%',#{jiaoling,jdbcType=VARCHAR},'%')</if>     <if test="jianjie!=null">and jianjie like  concat('%',#{jianjie,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jiaolianxinxi  where 1=1
    <if test="gonghao!=null">
    and gonghao =#{gonghao}
    </if>
  </select>
  
  <select id="getsyjiaolianxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jiaolianxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyjiaolianxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jiaolianxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyjiaolianxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jiaolianxinxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from jiaolianxinxi where 1=1 
     <if test="gonghao!=null">and gonghao like  concat('%',#{gonghao,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="jiaolianxingming!=null">and jiaolianxingming like  concat('%',#{jiaolianxingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="zhaopian!=null">and zhaopian like  concat('%',#{zhaopian,jdbcType=VARCHAR},'%')</if>     <if test="chushengriqi1!=null">and chushengriqi &gt;=  concat('',#{chushengriqi1,jdbcType=VARCHAR},'')</if>     <if test="chushengriqi2!=null">and chushengriqi &lt;=  concat('',#{chushengriqi2,jdbcType=VARCHAR},'')</if>     <if test="jiaoling!=null">and jiaoling like  concat('%',#{jiaoling,jdbcType=VARCHAR},'%')</if>     <if test="jianjie!=null">and jianjie like  concat('%',#{jianjie,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jiaolianxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jiaolianxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Jiaolianxinxi">
    insert into jiaolianxinxi (id, gonghao,mima,jiaolianxingming,xingbie,zhaopian,chushengriqi,jiaoling,jianjie, addtime)
    values (#{id,jdbcType=INTEGER}, #{gonghao,jdbcType=VARCHAR},#{mima,jdbcType=VARCHAR},#{jiaolianxingming,jdbcType=VARCHAR},#{xingbie,jdbcType=VARCHAR},#{zhaopian,jdbcType=VARCHAR},#{chushengriqi,jdbcType=VARCHAR},#{jiaoling,jdbcType=VARCHAR},#{jianjie,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Jiaolianxinxi">
    insert into jiaolianxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gonghao != null"> gonghao, </if>      <if test="mima != null"> mima, </if>      <if test="jiaolianxingming != null"> jiaolianxingming, </if>      <if test="xingbie != null"> xingbie, </if>      <if test="zhaopian != null"> zhaopian, </if>      <if test="chushengriqi != null"> chushengriqi, </if>      <if test="jiaoling != null"> jiaoling, </if>      <if test="jianjie != null"> jianjie, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gonghao != null"> #{gonghao,jdbcType=VARCHAR},</if>      <if test="mima != null"> #{mima,jdbcType=VARCHAR},</if>      <if test="jiaolianxingming != null"> #{jiaolianxingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> #{xingbie,jdbcType=VARCHAR},</if>      <if test="zhaopian != null"> #{zhaopian,jdbcType=VARCHAR},</if>      <if test="chushengriqi != null"> #{chushengriqi,jdbcType=VARCHAR},</if>      <if test="jiaoling != null"> #{jiaoling,jdbcType=VARCHAR},</if>      <if test="jianjie != null"> #{jianjie,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Jiaolianxinxi">
    update jiaolianxinxi
    <set>
	  <if test="gonghao != null"> gonghao = #{gonghao,jdbcType=VARCHAR},</if>      <if test="mima != null"> mima = #{mima,jdbcType=VARCHAR},</if>      <if test="jiaolianxingming != null"> jiaolianxingming = #{jiaolianxingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> xingbie = #{xingbie,jdbcType=VARCHAR},</if>      <if test="zhaopian != null"> zhaopian = #{zhaopian,jdbcType=VARCHAR},</if>      <if test="chushengriqi != null"> chushengriqi = #{chushengriqi,jdbcType=VARCHAR},</if>      <if test="jiaoling != null"> jiaoling = #{jiaoling,jdbcType=VARCHAR},</if>      <if test="jianjie != null"> jianjie = #{jianjie,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Jiaolianxinxi">
    update jiaolianxinxi
    set gonghao = #{gonghao,jdbcType=VARCHAR},mima = #{mima,jdbcType=VARCHAR},jiaolianxingming = #{jiaolianxingming,jdbcType=VARCHAR},xingbie = #{xingbie,jdbcType=VARCHAR},zhaopian = #{zhaopian,jdbcType=VARCHAR},chushengriqi = #{chushengriqi,jdbcType=VARCHAR},jiaoling = #{jiaoling,jdbcType=VARCHAR},jianjie = #{jianjie,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
