<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.XuexiziliaoMapper">
  <resultMap id="BaseResultMap" type="com.entity.Xuexiziliao">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="ziliaomingcheng" jdbcType="VARCHAR" property="ziliaomingcheng" />    <result column="shumian" jdbcType="VARCHAR" property="shumian" />    <result column="shipin" jdbcType="VARCHAR" property="shipin" />    <result column="wenjian" jdbcType="VARCHAR" property="wenjian" />    <result column="jianjie" jdbcType="VARCHAR" property="jianjie" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ziliaomingcheng,shumian,shipin,wenjian,jianjie, addtime
  </sql>
  <select id="quchongXuexiziliao"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from xuexiziliao 
    where ziliaomingcheng = #{ziliaomingcheng,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from xuexiziliao  where 1=1
    <if test="ziliaomingcheng!=null">and ziliaomingcheng like  concat('%',#{ziliaomingcheng,jdbcType=VARCHAR},'%')</if>     <if test="shumian!=null">and shumian like  concat('%',#{shumian,jdbcType=VARCHAR},'%')</if>     <if test="shipin!=null">and shipin like  concat('%',#{shipin,jdbcType=VARCHAR},'%')</if>     <if test="wenjian!=null">and wenjian like  concat('%',#{wenjian,jdbcType=VARCHAR},'%')</if>     <if test="jianjie!=null">and jianjie like  concat('%',#{jianjie,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xuexiziliao  where 1=1
    <if test="ziliaomingcheng!=null">
    and ziliaomingcheng =#{ziliaomingcheng}
    </if>
  </select>
  
  <select id="getsyxuexiziliao1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xuexiziliao  where 1=1
    limit 0,5
  </select>
  <select id="getsyxuexiziliao2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xuexiziliao  where 1=1
    limit 0,5
  </select>
  <select id="getsyxuexiziliao3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xuexiziliao  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from xuexiziliao where 1=1 
     <if test="ziliaomingcheng!=null">and ziliaomingcheng like  concat('%',#{ziliaomingcheng,jdbcType=VARCHAR},'%')</if>     <if test="shumian!=null">and shumian like  concat('%',#{shumian,jdbcType=VARCHAR},'%')</if>     <if test="shipin!=null">and shipin like  concat('%',#{shipin,jdbcType=VARCHAR},'%')</if>     <if test="wenjian!=null">and wenjian like  concat('%',#{wenjian,jdbcType=VARCHAR},'%')</if>     <if test="jianjie!=null">and jianjie like  concat('%',#{jianjie,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xuexiziliao
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xuexiziliao
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Xuexiziliao">
    insert into xuexiziliao (id, ziliaomingcheng,shumian,shipin,wenjian,jianjie, addtime)
    values (#{id,jdbcType=INTEGER}, #{ziliaomingcheng,jdbcType=VARCHAR},#{shumian,jdbcType=VARCHAR},#{shipin,jdbcType=VARCHAR},#{wenjian,jdbcType=VARCHAR},#{jianjie,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Xuexiziliao">
    insert into xuexiziliao
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ziliaomingcheng != null"> ziliaomingcheng, </if>      <if test="shumian != null"> shumian, </if>      <if test="shipin != null"> shipin, </if>      <if test="wenjian != null"> wenjian, </if>      <if test="jianjie != null"> jianjie, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ziliaomingcheng != null"> #{ziliaomingcheng,jdbcType=VARCHAR},</if>      <if test="shumian != null"> #{shumian,jdbcType=VARCHAR},</if>      <if test="shipin != null"> #{shipin,jdbcType=VARCHAR},</if>      <if test="wenjian != null"> #{wenjian,jdbcType=VARCHAR},</if>      <if test="jianjie != null"> #{jianjie,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Xuexiziliao">
    update xuexiziliao
    <set>
	  <if test="ziliaomingcheng != null"> ziliaomingcheng = #{ziliaomingcheng,jdbcType=VARCHAR},</if>      <if test="shumian != null"> shumian = #{shumian,jdbcType=VARCHAR},</if>      <if test="shipin != null"> shipin = #{shipin,jdbcType=VARCHAR},</if>      <if test="wenjian != null"> wenjian = #{wenjian,jdbcType=VARCHAR},</if>      <if test="jianjie != null"> jianjie = #{jianjie,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Xuexiziliao">
    update xuexiziliao
    set ziliaomingcheng = #{ziliaomingcheng,jdbcType=VARCHAR},shumian = #{shumian,jdbcType=VARCHAR},shipin = #{shipin,jdbcType=VARCHAR},wenjian = #{wenjian,jdbcType=VARCHAR},jianjie = #{jianjie,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
